<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747156391513-70c5oo771hmnllcp6olkqkuimv5uet95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747156391513-70c5oo771hmnllcp6olkqkuimv5uet95</string>
	<key>API_KEY</key>
	<string>AIzaSyCHD44p7IJ-KYdz9fxl7Go2YDtamDQ33CE</string>
	<key>GCM_SENDER_ID</key>
	<string>747156391513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puc.projiv.governance.projivGov</string>
	<key>PROJECT_ID</key>
	<string>projeto-integrador-iv-6b106</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-integrador-iv-6b106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747156391513:ios:244b2054e55dcbf8475348</string>
</dict>
</plist>